.boxColorPrimary{
    width: auto;
    height: auto;
    background: var(--color-primary);
    color: var(--color-fount-primary);
    border-radius: 25px;
    padding:1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    margin-bottom: 1rem;
}
.boxColorSecondary{
    width: auto;
    height: auto;
    background: var(--color-secondary);
    color: var(--color-fount-secondary);
    border-radius: 25px;
    padding:1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    margin-bottom: 1rem;
}
.boxColorTertiary{
    width: auto;
    height: auto;
    background: var(--color-tertiary);
    color: var(--color-fount-tertiary);
    border-radius: 25px;
    padding:1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    margin-bottom: 1rem;
}

.boxColorTertiaryOptional{
    width: auto;
    height: auto;
    background: var(--color-tertiary-optional);
    color: var(--color-fount-tertiary-optional);
    border-radius: 25px;
    padding:1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    margin-bottom: 1rem;
}
.boxColorTertiaryOptional{
    width: auto;
    height: auto;
    background: var(--color-tertiary-optional);
    color: var(--color-fount-tertiary-optional);
    border-radius: 25px;
    padding:1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-items: center;
    margin-bottom: 1rem;
}
.boxColorPrimaryContrast{
    width: auto;
    height: auto;
    background: var(--color-primary-contrast);
    color: var(--color-fount-primary-contrast);
    border-radius: 25px;
    padding:1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1rem;
}


