.main {
    display: flex;
    width: 100%;
    background: white;
    margin: 0.5rem;
    justify-content: end;
    background-color: rgb(201, 206, 255);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 30rem;
    height: auto;
    margin: 1rem;
    background-color: rgb(201, 206, 255);
}

.columna {
    flex: 1 1 calc(50% - 20px); /* 50% ancho menos margen */
    margin: 5px;
    background: white;
    padding-block: 2rem;
    height: 100px;
    border-radius: .5rem;
    color: black;
    padding-inline-start: .5rem;
}
.columna p{
    margin-top: .5rem;
    font-size: 13px;
}

@media (max-width: 575px) {

    .columna{
        background: white;
        flex: 1 1 calc(100% - 20px);
        margin-left: 0px;
    }
}
/* @media (max-width: 767px) {
    .columna{
        background: white;
        width: 100%;
    }
}
@media (max-width: 991px) {
    .columna{
        background: white;
        width: 100%;
    }
}
@media (max-width: 1199px) {
    .columna{
        background: white;
        width: 100%;
    }
} */
/* @media (max-width: 1399px) {
    .columna{
        background: white;
        width: 100%;
    }
} */